.error-image-section{
    height: 70vh;
    width: 90%;

    margin:  auto;
    background-image: url(/assets/404.svg);
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
}