$primaryColor: #52bd94;
$secondaryColor: #41c07a;
$accentColor: #f05454;
$accentColor1: #a8dadcff;

$baseColor: #2D344F;

$baseDark: #181C2F;
$baseDark1:#2E3550;
$baseCloud: #e8e8e8;
$baseKuro: #171a22;
$dropShadowDark: #09090ed5;
$dropShadowWhite: #dedee2d5;



$baseImg: url("https://d33wubrfki0l68.cloudfront.net/9d028cfb41e2be13fe04f09feaf57f3ff413dcf9/694ee/img/pawel-czerwinski-8uzpyniu-rq-unsplash.jpg");
$baseImg1: url("https://images.unsplash.com/photo-1552083974-186346191183?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
$baseImg2: url("https://images.unsplash.com/photo-1583324746266-6ad2266a2d89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=402&q=80");

$baseGrad: linear-gradient(135deg, rgba(65,192,122) , rgb(51, 146, 199));

$baseGrad2: linear-gradient(135deg, #ff4d4d , #f9cb28);
$baseGrad3: linear-gradient(135deg, #007cf0 , #00dfd8);
$baseGrad4: linear-gradient(135deg, #7928ca , #ff0080);