.adbox-section {
  min-height: 40vh;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: $baseCloud;
  padding: 5rem 0;

  .ad {
    position: relative;
    width: 80%;
    height: 80%;    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;

    p {
      width: 100%;
      position: absolute;
      top: -7%;
      text-align: center;
      color: grey;
      text-transform: uppercase;
    }
  }

  @media (max-width: 460px) {
    display: none;   
  }
}
