.editors-pick-card {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;

  .editorial-label {
    position: absolute;
    top: -1%;
    left: 0;
  }

  .editorial-label.MuiButtonBase-root {
    // background-color: $baseColor;
    color: $primaryColor !important;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: $accentColor;
  }

  .editors-pick-wrapper{
    width: 100%;
    height: 85%;
    background-color: $baseCloud;

    display: grid;

    grid-template-columns: [c1] 1.25fr [c2] 1fr [c3];
    grid-template-rows: [r1] 1fr [r2] 3fr [r3];

    padding: 2rem 3rem;
    gap: 3rem;


    h3{
      grid-row-start: r1;
      grid-row-end: r2;
      grid-column-start: c1;
      grid-column-end: c3;
      font-size: 2.4rem;
      line-height: 150%;
      cursor: pointer;
      font-family: "Roboto Slab";
      color: $baseColor;
    }

    .editors-pick-image{
      background-image: url(/assets/accident.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      li{
        list-style: none;
        font-size: 1.4rem;
        line-height: 150%;
        color: $baseColor;
      }
    }


  }


  @media (max-width: 460px) {
    order: 2;
  }

}

.editorial-today-card {
  height: 100%;
  width: 100%;
  position: relative;

  display: grid;
  place-items: center;

  .editorial-label {
    position: absolute;
    top: -1%;
    left: 0;
  }

  .editorial-label.MuiButtonBase-root {
    // background-color: $baseColor;
    color: $primaryColor !important;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: $accentColor;
  }

  .editorial-wrapper {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: $baseCloud;
    padding: 2rem 3rem;

    h3 {
      font-size: 2.4rem;
      line-height: 150%;
      cursor: pointer;
      font-family: "Roboto Slab";
      color: $baseColor;
    }

    p {
      font-size: 1.4rem;
      line-height: 150%;
      cursor: pointer;
      color: $baseColor;
    }

    .editor-name {
      font-size: 1.2rem;
      font-weight: 600;
      color: $baseColor;
    }
  }

  @media (max-width: 460px) {
    order: 1;
  }
}
