.live-update-wrapper {
  height: 100%;
  width: 100%;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 3rem;

  h4 {
    font-size: 2rem;
    color: $baseColor;
  }

  .snippets-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    gap: 3rem;

    .live-update-snippet {
      height: 12.5rem;
      width: 90%;

      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: $baseColor;
      padding: 1rem;
      border-left: 0.35rem solid $secondaryColor;
      .content-category {
        font-size: 1.2rem;
        text-transform: capitalize;
      }

      p {
        font-size: 1.4rem;
        line-height: 150%;
        cursor: pointer;
      }
    }
  }
}

//  Featured Main Article

.featured-main-wrapper {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: [c1] 1fr [c2] 1fr [c3];
  grid-template-rows: [r1] auto [r2] auto [r3];
  // grid-template-rows: auto;

  h3 {
    font-size: 3.2rem;
    line-height: 150%;
    grid-column-start: c1;
    grid-column-end: c3;
    font-family: "Roboto Slab";

    color: $baseColor;

    cursor: pointer;
  }

  .excerpt-box {
    height: 100%;
    width: 100%;
    padding-right: 2rem;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    gap: 2rem;

    p {
      font-size: 1.4rem;
      line-height: 150%;
      cursor: pointer;
      color: $baseColor;
    }
  }

  .image-box {
    height: 100%;
    width: 100%;

    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r2;
    grid-row-end: r3;

    background-size: contain;
    background-position: 100% 0%;
    background-repeat: no-repeat;
  }
}

//  Featured Exclussive Card

.featured-exclussive-card {
  min-height: 70vh;
  height: 100%;
  width: 100%;

  // background-color: $baseCloud;
  display: grid;
  place-items: center;

  &:hover {
    background-color: $baseCloud;
  }

  .featured-exclussive-wrapper {
    height: 100%;
    width: 100%;
    // padding: 1rem 2rem 1rem 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;

    color: $baseColor;

    h3 {
      font-size: 2rem;
      line-height: 150%;
      cursor: pointer;
      font-family: "Roboto Slab";
    }

    p {
      font-size: 1.4rem;
      line-height: 150%;
      cursor: pointer;
    }

    .image-box {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: 50% 100%;
      background-repeat: no-repeat;
    }
  }
}
