.layout-container{
    height: 100%;
    width: 100%; 

    min-height: 200vh;

    position: relative;
    
    .bingo{
        visibility: hidden;   
        display:none;           
        
    }

    .adbox{
        height: 40vh;
        width: 100%;
        
    }

    hr{
        border-top: 0.25rem solid $baseColor;
        border-bottom: 0.25rem solid $baseColor;
        padding: 0.01rem;
        width: 90%;
        margin: 0 auto;
    }
}