.layout-container{
    height: 100%;
    width: 100%; 

    min-height: 200vh;

    position: relative;
    
    .bingo{
        visibility: hidden;   
        display:none;           
        
    }

    .adbox{
        height: 40vh;
        width: 100%;
        
    }
}