.layout-container {
  height: 100%;
  width: 100%;

  min-height: 200vh;

  position: relative;

  padding-bottom: 5rem;

  .bingo {
    visibility: hidden;
    display: none;
  }

  hr {
    border-top: 0.2rem solid $baseColor;
    border-bottom: 0.2rem solid $baseColor;
    padding: 0.05rem;
    width: 90%;

    margin: 0 auto;

    @media (max-width: 460px) {
      width: 98%;
    }
  }
}
